html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#title {
    margin: 10px;
}

.discovery_table {
  margin: auto;
  border-collapse: collapse;
}

.code {
  font-family: monospace;
  white-space: pre-line;
}

.discovery_table, .discovery_th, .discovery_td {
  border: 1px solid gray;
}

.discovery_th, .discovery_td {
  padding: 10px;
  text-align: left;
}

.discovery_th {
  font-weight: bold;
}

#outermost {
    display: flex;
    flex-direction: column;
    /* width: 1000px; */
}

.featurelist {
  margin: 5px;
}

.flexcontainer {
    margin: 10px auto;
    width: 95%;
    padding: 10px;
    background-color: WhiteSmoke;
}


/* The following is taken from https://www.w3schools.com/howto/howto_css_tooltip.asp
 * (and subsequently adjusted) */

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.2s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 60px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
