html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#title {
    margin: 10px;
}

.discovery_table {
  margin: auto;
  border-collapse: collapse;
}

.code {
  font-family: monospace;
  white-space: pre-line;
}

.discovery_table, .discovery_th, .discovery_td {
  border: 1px solid gray;
}

.discovery_th, .discovery_td {
  padding: 10px;
  text-align: left;
}

.discovery_th {
  font-weight: bold;
}

#outermost {
    display: flex;
    flex-direction: column;
    /* width: 1000px; */
}

.featurelist {
  margin: 5px;
}

.flexcontainer {
    margin: 10px auto;
    width: 95%;
    padding: 10px;
    background-color: WhiteSmoke;
}
